@using ImagineCup2016.Models
@model Login


<div id="result">

    @using (Ajax.BeginForm("Login", "Account", (new AjaxOptions { HttpMethod = "Post", OnSuccess = "redirect", OnFailure = "errors" })))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <label style="font-size:small">Enter User Name </label>
            @Html.TextBoxFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control" } })
            <label style="font-size:small">Enter Password </label>
            @Html.PasswordFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
            <div>
                <label id="errormessages" style="font-size:small;color:red"></label>
            </div>
        </fieldset>
        <button id="subbmit" class="btn btn-xs">Login</button>
    }
</div>




    <script type="text/javascript">
       

        var errors = function (data) {
            $("#errormessages").html(data.responseJSON.message);
        };

        function redirect(data)
        {
            $("#errormessages").text = "Wait...";
            console.log(data.message);
            window.location.href = '/stations/StationDashboard/';
        }
        


    </script>
    
    