@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="alert alert-dismissible alert-info">
        <strong>Welcome!</strong> Register to begin the experience.
    </div>

</div>